extends ../layout

block content
    if infos.length
        .row
            .ui.info.message.column
                .header Information
                ul.list
                    each info in infos
                        li= info
    .row
        .ui.stackable.two.column.grid
            .column
                .ui.stackable.two.column.grid.padded
                    .column
                        h3.header Courses
                    .column
                        a.ui.labeled.icon.button.fluid.green(href='/admin/add_course')
                            i.plus.icon
                            | Add Course
                .ui.icon.input.fluid
                    input(type='text', placeholder='Search...')
                    i.search.icon
                each course in courses
                    .ui.segment
                        h4= course.code
                        p= course.name
                        .ui.buttons
                            a(href=course.deleteUrl())
                                button.ui.button.red Delete
                            .or
                            a(href=course.editUrl())
                                button.ui.button.yellow Edit
                else
                    .ui.segment
                        h4 No courses present
            .column
                h3.header Sections